<section class="image-text">
  <article class="second">
    <div class="picture"><%= project_image(project, 'sol3.png', data: { animate: ''})%></div>
    <div class="text">
      <h3 class="large" data-animate><%= project[locale.to_s].solution3_title %></h3>
      <p class="regular" data-animate><%= project[locale.to_s].solution3_text %></p>
    </div>
  </article>
  <article class="third">
    <div class="text">
      <h3 class="large" data-animate><%= project[locale.to_s].solution2_title %></h3>
      <p class="regular" data-animate><%= project[locale.to_s].solution2_text %></p>
    </div>
    <div class="picture"><%= project_image(project, 'sol2.png', data: { animate: ''})%></div>
  </article>
</section>
