<section id="numbers">
  <article>
    <h2 class="number"><%= project.fact1_numbrer %></h2>
    <p><%= project.fact1_text %></p>
  </article>
  <article>
    <h2 class="number"><%= project.fact3_numbrer %></h2>
    <p><%= project.fact3_text %></p>
  </article>
  <article>
    <h2 class="number"><%= project.fact3_numbrer %></h2>
    <p><%= project.fact3_text %></p>
  </article>
</section>
