<section id="problems">
  <h2 data-animate><%= project[locale.to_s].pb_title %></h2>
  <div class="container" data-animate>
    <article class="first">
      <h3 class="percent"><%= project[locale.to_s].pb1_number %></h3>
      <p class="legend"><%= project[locale.to_s].pb1_text %></p>
    </article>
    <article class="second">
      <h3 class="percent"><%= project[locale.to_s].pb2_number %></h3>
      <p class="legend"><%= project[locale.to_s].pb2_text %></p>
    </article>
    <article class="third">
      <h3 class="percent"><%= project[locale.to_s].pb3_number %></h3>
      <p class="legend"><%= project[locale.to_s].pb3_text %></p>
    </article>
  </div>
</section>
