<section class="project-header" data-animate-auto>
  <h2 class="project-number"><%= project.number %></h2>
  <h1 class="project-name"><%= project.name %></h1>

  <section class="main-infos"  data-animate-auto>

    <article class="project-info concept">
      <h3 class="medium">Concept</h3>
      <p class="regular"><%= project[locale.to_s].description %></p>
    </article>
    <article class="project-info team">
      <h3 class="medium"><%= t('projects.labelTeam') %></h3>
      <p class="regular"><%= markdown project[locale.to_s].team %></p>
    </article>
    <article class="project-info problem">
      <h3 class="medium"><%= t('projects.labelProblem') %></h3>
      <p class="regular"><%= markdown project[locale.to_s].problem %></p>
    </article>
  </section>


</section>
