---
slug: about
---
<main id="about" class="wrapper">
  <section class="container">
    <section id="intro" data-animate-auto>
      <article>
        <p class="large"><%= markdown t('about.intro') %></p>
      </article>
    </section>

    <section id="cv">

      <section class="cv-section" id="studies" data-animate-auto>
        <h2 class="section-title"><%= t('about.studies.h2') %></h2>
        <article>
          <h3 class="article-title"><%= t('about.studies.h3-1') %></h3>
          <p class="large"><%= t('about.studies.p-1') %></p>
          <p class="small"><%= markdown t('about.studies.s-1') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.studies.h3-2') %></h3>
          <p class="large"><%= t('about.studies.p-2') %></p>
          <p class="small"><%= markdown t('about.studies.s-2') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.studies.h3-3') %></h3>
          <p class="large"><%= t('about.studies.p-3') %></p>
          <p class="small"><%= markdown t('about.studies.s-3') %></p>
        </article>
      </section>


      <section class="cv-section" id="work" data-animate-auto>
        <h2 class="section-title"><%= t('about.work.h2') %></h2>
        <article>
          <h3 class="article-title"><%= t('about.work.h3-1') %></h3>
          <p class="large"><%= markdown t('about.work.p-1') %></p>
          <p class="small"><%= markdown t('about.work.s-1') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.work.h3-2') %></h3>
          <p class="large"><%= markdown t('about.work.p-2') %></p>
          <p class="small"><%= markdown t('about.work.s-2') %></p>
        </article>
      </section>


      <section class="cv-section" id="skills" data-animate>
        <h2 class="section-title"><%= t('about.skills.h2') %></h2>
        <article>
          <h3 class="article-title"><%= t('about.skills.h3-1') %></h3>
          <p class="large"><%= t('about.skills.p-1') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.skills.h3-2') %></h3>
          <p class="large"><%= t('about.skills.p-2') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.skills.h3-3') %></h3>
          <p class="large"><%= t('about.skills.p-3') %></p>
        </article>
      </section>


      <section class="cv-section" id="more" data-animate>
        <h2 class="section-title"><%= t('about.more.h2') %></h2>
        <article>
          <h3 class="article-title"><%= t('about.more.h3-1') %></h3>
          <p class="large"><%= t('about.more.p-1') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.more.h3-2') %></h3>
          <p class="large"><%= t('about.more.p-2') %></p>
        </article>
        <article>
          <h3 class="article-title"><%= t('about.more.h3-3') %></h3>
          <p class="large"><%= t('about.more.p-3') %></p>
        </article>
      </section>


    </section>
  </section>
</main>

<div class="sf-bg"></div>
<%= partial 'layouts/partials/footer' %>
