---
slug: about
---
<main id="about" class="wrapper">

  <section id="intro" data-animate-auto>
    <article>
      <p><%= t('about.intro') %></p>
    </article>
  </section>

  <section id="cv">

    <section class="cv-section" id="studies" data-animate-auto>
      <h2 class="section-title"><%= t('about.studies.h2') %></h2>
      <article>
        <h3 class="article-title"><%= t('about.studies.h3-1') %></h3>
        <p><%= t('about.studies.p-1') %></p>
      </article>
      <article>
        <h3 class="article-title">2016/2018</h3>
        <p><%= t('about.studies.p-2') %></p>
      </article>
    </section>


    <section class="cv-section" id="work" data-animate>
      <h2 class="section-title"><%= t('about.work.h2') %></h2>
      <article>
        <h3 class="article-title"><%= t('about.work.h3-1') %></h3>
        <p><%= t('about.work.p-1') %></p>
      </article>
    </section>


    <section class="cv-section" id="skills" data-animate>
      <h2 class="section-title"><%= t('about.skills.h2') %></h2>
      <article>
        <h3 class="article-title"><%= t('about.skills.h3-1') %></h3>
        <p><%= t('about.skills.p-1') %></p>
      </article>
      <article>
        <h3 class="article-title"><%= t('about.skills.h3-2') %></h3>
        <p><%= t('about.skills.p-2') %></p>
      </article>
    </section>


    <section class="cv-section" id="more" data-animate>
      <h2 class="section-title"><%= t('about.more.h2') %></h2>
      <article>
        <h3 class="article-title"><%= t('about.more.h3-1') %></h3>
        <p><%= t('about.more.p-1') %></p>
      </article>
      <article>
        <h3 class="article-title"><%= t('about.more.h3-2') %></h3>
        <p><%= t('about.more.p-2') %></p>
      </article>
    </section>


  </section>

</main>
