---
slug: homepage
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---

<main id="project" class="wrapper">
  <%= partial 'partials/project-header' %>

    <% if (current_page.data.slug == "sounds-in-bordeaux") %>
      <%= partial 'partials/slider-v1' %>
      <%= partial 'partials/problems' %>
      <div class="oneImg"><%= project_image(project, 'mockupSIB.png')%></div>
      <%= partial 'partials/3-image' %>
      <%= partial 'partials/fluffy-slider' %>
    <% end %>

    <% if (current_page.data.slug == "hellopass") %>
      <%= partial 'partials/2-image' %>
      <%= partial 'partials/phoneMockups' %>
      <%= partial 'partials/fluffy-slider' %>
    <% end %>

    <% if (current_page.data.slug == "mandat") %>
      <%= partial 'partials/phoneMockups' %>
      <%= partial 'partials/fluffy-slider' %>
    <% end %>

</main>

<div class="safari-bug"></div>

<%= partial 'partials/btn-next' %>
