---
slug: homepage
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---

<main id="project" class="wrapper">
  <%= partial 'layouts/partials/projects/project-header' %>

  <!-- <%= project_image(project, 'main.png', {
    'class' => 'cover',
    'async' => true
    }) %> -->

  <%= partial 'layouts/partials/projects/project-slider.html.erb' %>

  <% if (project.slug == "mandat") %>
      <%= partial 'layouts/partials/projects/phoneMockups.html.erb' %>
  <% end %>


</main>

<%= partial 'layouts/partials/projects/btn-next.html.erb' %>
