---
slug: homepage
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---

<main id="project" class="wrapper">
  <!-- <%= partial 'partials/project-header' %> -->
<!-- 
  <% if (current_page.data.slug == "capsule") %>
    <%= partial 'partials/video' %>
  <% end %>

  <% if (current_page.data.slug == "soundsinbordeaux") %>
    <%= partial 'partials/numbers' %>
  <% end %>

  <%= partial 'partials/fluffy-slider' %>

  <% if (current_page.data.slug == "mandat") %>
    <%= partial 'partials/phoneMockups' %>
  <% end %> -->

</main>

<div class="safari-bug"></div>

<%= partial 'partials/btn-next' %>
