<header>
  <h5 class="page-title"><%= title_translate %></h5>
  <div class="menu-btn" id="menu-btn">
    <span></span>
  </div>

  <ul class="menu" data-animate-auto>
    <li class="menu-item"><%= current_link_to t('titles.homepage'), 'homepage' %></li>
    <li class="menu-item"><%= current_link_to t('titles.projects'), 'projects' %></li>
    <li class="menu-item"><%= current_link_to t('titles.about'), 'about' %></li>
    <li class="menu-item"></li>
    <li class="menu-item contact"><a href="mailto:hello@emelinebailleul.com"><%= t('titles.contact') %></a></li>
    <% if locale == :fr %>
        <li class="menu-item lang" id="linkTo-en"><%= link_translate(:en)  %></li>
      <% else %>
        <li class="menu-item lang" id="linkTo-fr"><%= link_translate(:fr) %></li>
    <% end %>
  </ul>

</header>
